* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .gallery {
    background: #fffaf7;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #fffaf7;
    counter-increment: gallery-cell;
  }

  .gallery-cell img {
      height: 100%;
  }