* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #fffaf7;
  padding-top: 25px;
}

.gallery-cell {
  width: auto;
  height: 400px;
  margin-right: 10px;
  background: #fffaf7;
  counter-increment: gallery-cell;
}

.gallery-cell img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .gallery-cell img {
    height: 400px;
    width: auto;
  }
}
