* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #fffaf7;
  padding-top: 25px;
}

.gallery-cell {
  width: 90%;
  height: 150px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell img {
  height: 100%;
  width: auto;
}
