/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .section-main,
  .section-scroll {
    position: inherit;
  }

  .phone-icon,
  .mail-icon {
    font-size: 80%;
  }

  .footer {
    font-size: 80%;
    padding-left: 22%;
  }
}
