/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .section-main,
  .section-scroll {
    position: inherit;
  }

  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #fffaf7;
    counter-increment: gallery-cell;
  }

  .gallery-cell img {
    height: 100%;
    width: auto;
  }

  .phone-icon,
  .mail-icon {
    font-size: 80%;
  }

  .footer {
    font-size: 80%;
    padding-left: 22%;
  }
}
