.container {
  background-color: #fffaf7;
  color: #4b4949;
  font-family: "Kanit", sans-serif;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
/* Left side */
.section-main {
  background-color: #bdddcb;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 200px;
}

.profpic {
  width: 240px;
}

/* CONTACT ME BUTTON */

div[class*="contact-me-box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.contact-me-btn {
  color: #4b4949;
  font-size: 24px;
  transition: all 0.5s;
  position: relative;
}
.contact-me-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.201);
  transition: all 0.3s;
}
.contact-me-btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.contact-me-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.contact-me-btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* Right side */
.right-side-div {
  padding-bottom: 55px;
}

h3 {
  color: #6b9a9f;
}

p,
li {
  color: #4b4949;
  font-family: "Cardo", serif;
}
p {
  text-transform: none;
}
li {
  list-style: none;
  font-size: 80%;
}
/* ICONS */
li i {
  font-size: 180%;
  color: #6b9a9f;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: -25px;
}

i {
  font-size: 100%;
  color: #6b9a9f;
  margin-right: 5px;
}

.circle-icon {
  font-size: 100%;
}

.location-icon,
.phone-icon,
.mail-icon {
  font-size: 100%;
  margin-bottom: 10px;
}

.section-main,
.section-scroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
}
.section-scroll {
  left: 50%;
  right: 0;
  overflow: hidden;
  background-color: #fffaf7;
}

.section-scroll {
  height: 100%;
  overflow: auto;
  padding: 2% 5%;
  margin-right: -17px; /* scrollbar offset */
  padding-top: 55px;
}

/* EXPERIENCE */

.xp-list {
  padding-bottom: 15px;
}
.date,
.company-name {
  background-color: mintcream;
}
.experience {
  text-transform: none;
  font-family: "Kanit", sans-serif;
}

.experience li {
  font-size: 100%;
}

/* HIDEAWAY */
#lime,
#earth-tech,
#jal,
#busena {
  display: none;
}
.company-name a {
  color: #4b4949;
  text-decoration: none;
}

.company-name a:hover {
  color: black;
}

/* FOOTER */

.contact-info {
  display: block;
  text-align: center;
}

.company-name a,
.contact-info a {
  color: #4b4949;
  text-decoration: none;
}

.company-name a:hover,
.contact-info a:hover {
  color: black;
}

.footer {
  padding-left: 33%;
  padding-bottom: 0;
  padding-top: 20px;
}
