.container {
  background-color: #fffaf7;
  color: #4b4949;
  font-family: "Kanit", sans-serif;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
/* Left side */
.section-main {
  background-color: #bdddcb;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 200px;
}

.profpic {
  width: 240px;
}

button.link { 
  background:none;
  border:none; 
  color: #6b9a9f;
  font-size: 24px;
}

/* Right side */
.right-side-div {
  padding-bottom: 55px;
}

h3 {
  color: #6b9a9f;
}

p,
li {
  color: #4b4949;
  font-family: "Cardo", serif;
  text-rendering: optimizeLegibility;
  text-transform: none;
}
li {
  list-style: none;
}

.section-main,
.section-scroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
}
.section-scroll {
  left: 50%;
  right: 0;
  overflow: hidden;
  background-color: #fffaf7;

}

.section-scroll {
  height: 100%;
  overflow: auto;
  padding: 2% 5%;
  margin-right: -17px; /* scrollbar offset */
  padding-top: 55px;
}
