.section-main {
  background-color: #bdddcb;
  text-align: center;
}

/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fffaf7;
  color: #4b4949;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

h3 {
  color: #6b9a9f;
}

p,
li {
  color: #4b4949;
  font-family: "Cardo", serif;
  font-weight: 100;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  text-transform: none;
}
li {
  list-style: none;
}
/* .clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
} */

/* REUSABLE COMPONENTS */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/* HEADINGS */

/* PARAGRAPHS */
/* MAIN SECTION */
/* CONTACT BUTTON */
/* INFO SECTION */
/* SLIDES */
/* FOOTER */
/* ANIMATIONS */
